
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */